<!DOCTYPE html>
<html>
    <head>
        <title> Registration </title>
    </head>
    <body>
        <form method="POST" action="/submit">
            <center>
            <h1> Registration form</h1>
            Enter name: <input name="name" type="text">
            <br>
            Enter rollno: <input name="rollno" type="text">
            <br>
            
            year:
            <select id="year" name="year">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
            <br>
            <input type="submit">
            </center>
        </form>
    </body>
</html>
